<h4>incidents Over Time</h4>
<div style="width: 100%">
  <canvas id="line" class="chart chart-line"
          chart-data="incTime.chartDate.byDate"
          chart-labels="incTime.chartDate.byDateTitle"
          chart-showLine="false"

          chart-dataset-override="incTime.datasetOverride">

  </canvas
</div>
