<div class="">

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="modalCtrl.cancel()"" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="col-sm-1" style="padding: 10px;">
        <i class="fa fa-warning fa-2x"></i>
      </div>

      <div class="col-sm-4" style="padding: 0;">
        <h5 class="info" id="myModalLabel">Incident</h5>
        <h3 class="modal-title">{{modalCtrl.selected.number}}</h3>
      </div>

      <button class="btn pull-right" ng-click="modalCtrl.cancel()" style="    margin-top: 10px;">Resolve</button>
    </div>

    <div class="modal-body">
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="width: 59.99999999%;">
              <p class="info">Description</p>
              <h4>{{modalCtrl.selected.short_description}}</h4>
            </td>
            <td style="width: 19.555555554%;">
              <p class="info">Caller</p>
              <h4><a href="{{modalCtrl.selected.opened_by.link}}">{{modalCtrl.selected.opened_by.display_value}}</a></h4>
            </td>
            <td  style="width: 19.555555554%;">
              <p class="info">Opened</p>
              <h4>{{modalCtrl.selected.opened_at | myOwnFormat }}</h4>
            </td>
          </tr>

          <tr>
            <td>
              <p class="description">
                {{ modalCtrl.selected.description ? modalCtrl.selected.description : 'No description for this incident'}}
              </p>
            </td>
            <td>
              <p class="info">urgency</p>
              <h4 class="rounded" style="background-color: #d2d0d0">{{modalCtrl.selected.urgency}}</h4>
            </td>
            <td>
              <p class="info">stage</p>
              <h4 class="rounded">{{modalCtrl.selected.state}}</h4>
            </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>


      <div class="col-sm-6">


      </div>
      <div class="col-sm-3">



      </div>
      <div class="col-sm-3">



      </div>
    </div>

  </div>

</div>

