.info{
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 1.14rem;
  color: gray;
  letter-spacing: .8px;
}

.modal-header .close {
  margin-top: -2px;
  position: absolute;
  right: 5px;
  top: -45px;
  font-size: 5rem;
  /*color: #bf2225;*/
  text-shadow: none;
  color: #ffffff;
  opacity: .8;
}

.modal-dialog{
  min-width: 60vw;
}

.modal-header i {
  color: #f7464a;
}
.modal-title{
  font-weight: 600;
  color: rgba(48, 50, 53, 0.78);
}
#myModalLabel{
  margin: 0;

}

@media (min-width: 768px) {
  .modal-dialog {
    margin-top: 10vh;
  }

}

.modal-body{
  display: flex;
  padding: 25px 15px;
}

.modal-body h4{
  border-bottom: 0;
  min-height: 15px;
  margin: 0 0 10px 0;
}

.rounded{
  border-radius: 5rem;
  background-color: #f4f4f4;
  padding: 8px 20px;
  display: inline-block;
  margin: 0 0 0 -4px;
}

a{
  color: #5d5f61;
  text-decoration: underline!important;
}

table td {
  vertical-align: top;
  border: 4px solid rgba(255, 255, 255, 0);
}

.modal-header .close {
  outline: 0;
}
