.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}
body{
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h1{
  /* text-transform: uppercase;*/
}

h4{
  text-transform: capitalize;
  color: gray;
  font-weight: 200;
  margin-bottom: 3rem;
  border-bottom: 1px solid #eaf1f5;
  padding-bottom: 10px;
}

.own-ico{
  position: absolute;
  bottom: 0;
  left: -10px;
  top: 34px;
  font-size: 2rem;
}
