<div class="container">
  <div class="form-group col-sm-4">
    <label for="search">&nbsp</label>
    <span class="glyphicon glyphicon-search own-ico" aria-hidden="true" style=""></span>
    <input id="search" class="form-control" placeholder="search Incident or caller" ng-model="search.custom">
  </div>



    <div class="form-group col-sm-3">
      <label for="sel2">Urgency</label>
      <select class="form-control" id="sel2" ng-model="incTable.search.urgency">
        <option selected value="">All</option>
        <option  value="1 - High" >1 - High</option>
        <option  value="2 - Medium" >2 - Medium</option>
        <option  value="3 - Low" >3 - Low</option>
      </select>
    </div>

    <div class="form-group col-sm-3">
      <label for="sel1">State</label>
      <select class="form-control" id="sel1" ng-model="incTable.search.state">
        <option selected value="">All</option>
        <option  value="Closed">Closed</option>
        <option  value="On Hold">	On Hold</option>
        <option  value="In Progress">In Progress</option>
        <option  value="New">New</option>
      </select>
    </div>

</div>


<table id="incidents-table" class="table table-striped">
  <thead>
  <tr>
    <th>Incident number</th>
    <th>Urgency</th>
    <th>Caller</th>
    <th>Opened</th>
    <th>State</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-click="incTable.showFullView(inc)" ng-repeat="inc in incTable.allIncidents.data | filter:incTable.customSearch | filter:incTable.customSearchSel | filter:incTable.customSearchSel2">
    <td>{{ inc.number }}</td>
    <td>{{ inc.urgency }}</td>
    <td>{{ inc.opened_by.display_value }}<span ng-if="!inc.opened_by.display_value"><i class="fa fa-warning faa-flash animated"></i></span></td>
    <td>{{ inc.opened_at | myOwnFormat}}</td>
    <td>{{ inc.state }}</td>
  </tr>
  </tbody>
</table>

<div style="background-color: white" ng-if="incTable.showLoader.table" style="text-align: center">
  <div style="background-color: white; width: 100%;text-align: center; padding: 20px">
    <i class="fa fa-spinner faa-spin animated fa-4x"></i>
  </div>
</div>

<div class="row" style="text-align: center; padding: 30px">
  <button ng-if="incTable.allIncidents.data && !incTable.showLoader.table" class="btn btn" ng-click="incTable.loadMore()">
    More
    <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
</div>

