li{
  list-style: none;
}

.tablo{
  position: relative;
  top: 0;
  background-color: rgba(220, 220, 220, 0.23);
  padding: 10px 20px;
  text-align: center;
}

@media (min-width: 700px) {
  .tablo {
    position: absolute;
  }
}


.tablo ul, .tablo li{
  padding: 0;
  margin: 0;
}
.tablo h5 {
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(247, 70, 74, 0.45);
  letter-spacing: 1px;
}
