<h4>incidents By State</h4>
<div style="width: 100%;position: relative">
  <canvas style="padding-left: 20px;" id="doughnut" class="chart chart-doughnut"
          chart-data="incState.chartDate.byState" chart-labels="incState.chartDate.byStateTitle">
  </canvas>
  <div class="tablo animated">
    <h5 class="">labels</h5>
    <ul>
      <li ng-repeat="st in incState.chartDate.byState">
        <b>{{ incState.chartDate.byStateTitle[$index]}}</b> : {{ st }}
      </li>
    </ul>

    <h5 class="">in Total</h5>
    <li>{{incState.allIncidents.data.length}}</li>
  </div>
</div>

