<!doctype html>
<html ng-app="myTestProject" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>incidents page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>

    <div class="container" ng-controller="MainController as main">

      <div class="row" style="line-height: 7rem;">
        <div class="col-sm-7 col-md-8">
          <h1>
            <span class="fa fa-warning fa-1x" aria-hidden="true"></span>
            Incidents
          </h1>
        </div>
        <div class="col-sm-5 col-md-4">
          <button ng-click="main.exportToExcel('incidents-table')"
                  style="margin-top: 20px;"
                  class="btn pull-right">
            Export report
          </button>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="col-sm-6 col-md-6">&nbsp;
          <incidents-by-state></incidents-by-state>
        </div>

        <div class="col-sm-6 col-md-6">&nbsp;
          <incidents-over-time></incidents-over-time>
        </div>
      </div>
<hr>
        <div class="container">
          <incidents-table></incidents-table>
        </div>
      </div>

    </div>


    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
